[Unit]
Description=GlimpseCam
After=multi-user.target

[Service]
ExecStart=/usr/bin/python /home/pi/glimpse-cam/GlimpseCam.py

[Install]
WantedBy=multi-user.target

